body{
    font-family: Arial, sans-serif;
    background-color:#f8f9fa;
}

.hero{
    background:linear-gradient(135deg,#0d6efd,#6610f2);
    color:white;
    padding:70px 0;
}

.hero h1{
    font-size:45px;
    font-weight:bold;
}

.hero p{
    font-size:18px;
}

.hero .btn{
    margin-top:10px;
    margin-right:10px;
}

.card{
    transition:0.3s;
    border:none;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    height:220px;
    object-fit:cover;
}

h2{
    color:#0d6efd;
    margin-bottom:20px;
}

form{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

footer{
    margin-top:40px;
}